<html>
<head>
  <!-- Link the style sheet here -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkturquoise; height: 1in;">
    <div class="container-fluid">
      <h2 style="padding-right: 5%;">Dealerships</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="font-size: larger;" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="font-size: larger;" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: larger;" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
    <div class="card" style="width: 80%;margin: auto; margin-top:5%;">
      <div class="banner" name="about-header">
      <!-- Insert header information here -->
        <h1>About Us</h1>
        Welcome to Best Cars dealership, home to the best cars in North America. TRUSTED AND RELIABLE! We deal in sale of domestic and imported cars at reasonable prices.
      </div>
      <div style="display: flex;flex-direction: row; margin:auto">
      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/Person1.png" alt="Card image">
        <div class="card-body">
          <p class="title">Chief Execuite Officer</p>
          <p>Gerard Depardieu</p>
          <p class="card-text">With over two decades of experience in the automotive industry, Gerard Depardieu brings a visionary approach to BEST CARS, driving innovation and excellence. Known for her strategic leadership and passion for cutting-edge technology, she has led the company to new heights, shaping the future of sustainable and intelligent mobility. Her commitment to fostering a dynamic and inclusive work culture reflects her belief in empowering teams to push boundaries and set new industry standards. Under her guidance, BEST CARS continues to lead with bold innovation, transforming the way the world moves.</p>
          <p>GDepardieu@bestcars.com</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/Person2.png" alt="Card image">
        <div class="card-body">
          <p class="title">Chief Financial Officer</p>
          <p>Chris Matthews</p>
          <p class="card-text">As the Chief Financial Officer of BEST CARS, Chris Matthews oversees all financial operations, bringing over 15 years of expertise in corporate finance and strategic planning. With a sharp focus on driving sustainable growth, she ensures the company’s financial health while optimizing performance. Her extensive experience in managing global operations, coupled with a keen eye for data-driven decision-making, has been instrumental in strengthening BEST CARS's market position. Chris Matthews is passionate about aligning financial strategies with the company's long-term vision for innovation and success.</p>
          <p>CMatthews@bestcars.com</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/Person3.png" alt="Card image">
        <div class="card-body">
          <p class="title">President</p>
          <p>Michelle Dockery</p>
          <p class="card-text">As the President of BEST CARS, Michelle Dockery leads the company's strategic direction and day-to-day operations with a commitment to excellence and innovation. With over a decade of experience in the automotive industry, Michelle has a proven track record of driving growth and delivering high-quality, customer-focused solutions. Her leadership emphasizes innovation, sustainability, and forward-thinking strategies that position Best Cars as a leader in the global automotive market. Passionate about empowering teams and fostering a culture of collaboration, Michelle continues to push the boundaries of automotive innovation, steering BEST CARS toward a dynamic and successful future.</p>
          <p>MDockery@bestcars.com</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    
</div>

</html>
